
target/classes/testdata/data.xml

target/classes/application.properties

*.class

*.MF

target/classes/META-INF/maven/com.boundlessgeo.ps/springboot-prototype/pom.properties

target/classes/META-INF/maven/com.boundlessgeo.ps/springboot-prototype/pom.xml

target/maven-archiver/pom.properties

*.lst

target/springboot-prototype-0.0.1-RELEASE.jar

target/springboot-prototype-0.0.1-RELEASE.jar.original

target/surefire-reports/com.boundlessgeo.ps.springbootprototypetest.SpringbootPrototypeApplicationTests.txt

target/surefire-reports/TEST-com.boundlessgeo.ps.springbootprototypetest.SpringbootPrototypeApplicationTests.xml
